<app-navbar></app-navbar>

<main>
  <!-- Two major components -->
  <!-- One creates the posts and the other sdisplays the posts -->


  <!-- Posts created are emitted through event listeners
      They are recieved as an event which are directed to
      the function as an object. (PostCreated) is the name
      of the object that is emmitted -->

  <!-- <app-create-posts (postCreated)="onPostAdded($event)"></app-create-posts> -->

  <!-- [PostDetails] is the array in the compnonet of type
      Posts. Storedposts is the array in this component.
      The data of storedposts is passed to postDetails dynamically -->

  <!-- <app-post-output [postDetails]="storedPosts"></app-post-output> -->






  <!-- Doing it the second way -->
  <!-- The easier way with  -->
  <app-create-posts></app-create-posts>
  <app-post-output></app-post-output>
</main>

